
<!DOCTYPE html>
<html>
<head>
<title>Ecommerce Website</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Welcome to Our Online Store!</h1>
<div class="product-list">
{% for product in products %}
<div class="product">
<img src="{{ product.image }}" alt="{{ product.name }}">
<h3>{{ product.name }}</h3>
<p>{{ product.description }}</p>
<p>${{ product.price }}</p>
<form action="/add_to_cart" method="post">
<input type="hidden" name="product_id" value="{{ product.id }}">
<input type="number" name="quantity" value="1" min="1">
<input type="submit" value="Add to Cart">
</form>
</div>
{% endfor %}
</div>
<a href="/cart">View Cart</a>
</body>
</html>


